.display-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
  box-shadow: 19px 17px 14px 0 rgb(0 0 0 / 10%);

  .title {
    font-size: 2rem;
    @media only screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }

  .input-wrapper {
    #basic,
    #full {
      visibility: hidden;
    }

    input:checked ~ label {
      color: orange;
    }
    label {
      font-size: 1.5rem;
      @media only screen and (max-width: 600px) {
        font-size: 1rem;
      }
      margin-left: 1rem;
    }
  }
}
