<div class="display-container">
  <h1 class="title">Display style:</h1>
  <div class="input-wrapper">
    <input
      type="radio"
      name="display"
      id="basic"
      [value]="displayFilters.Basic"
      [checked]="true"
      [(ngModel)]="radioSelected"
      (change)="switchLayout()"
    />
    <label for="basic">Basic</label>
  </div>
  <div class="input-wrapper">
    <input
      type="radio"
      name="display"
      id="full"
      [value]="displayFilters.Full"
      [(ngModel)]="radioSelected"
      (change)="switchLayout()"
    />
    <label for="full">Full</label>
  </div>
</div>
