<div class="login-container">
  <h1 class="title">Log in</h1>
  <form [formGroup]="loginForm" #f="ngForm">
    <div class="input-wrapper">
      <label class="input-label" for="username">Username</label>
      <input
        class="input-field"
        type="text"
        id="username"
        placeholder="enter your username"
        formControlName="username"
      />
    </div>
    <div
      class="error-wrapper"
      *ngIf="
        loginForm.get('username')?.invalid &&
        loginForm.get('username')?.errors &&
        (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
      "
    >
      <p
        class="error-text"
        *ngIf="loginForm.get('username')?.hasError('email')"
      >
        Valid email is required
      </p>
    </div>
    <div
      class="error-wrapper"
      *ngIf="
        loginForm.get('username')?.invalid &&
        loginForm.get('username')?.errors &&
        (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)
      "
    >
      <p
        class="error-text"
        *ngIf="loginForm.get('username')?.hasError('required')"
      >
        This field is required
      </p>
    </div>

    <div class="input-wrapper">
      <label class="input-label" for="password">Password</label>
      <input
        class="input-field"
        type="password"
        id="password"
        placeholder="enter your password"
        formControlName="password"
      />
    </div>
    <div
      class="error-wrapper"
      *ngIf="
        loginForm.get('password')?.invalid &&
        loginForm.get('password')?.errors &&
        (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
      "
    >
      <p
        class="error-text"
        *ngIf="loginForm.get('password')?.hasError('required')"
      >
        This field is required
      </p>
    </div>

    <div class="chehckbox-wrapper">
      <input
        class="input-checkbox"
        type="checkbox"
        formControlName="rememberMe"
      />
      <span class="checkbox-text">Remember me</span>
    </div>
    <div class="submit-wrapper">
      <button
        class="submit-button"
        type="submit"
        (click)="submitForm(loginForm.value)"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
    </div>
    <div class="error-wrapper" *ngIf="f.submitted">
      <p class="error-text">{{ errorMessage }}</p>
    </div>
  </form>
</div>
