.item-container {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  background-color: #f6f6f6;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  width: 100%;
  .basic {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    .full {
      display: none;
    }
    .basic {
      display: block;
    }
  }

  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 10px;
  box-shadow: 19px 17px 14px 0 rgb(0 0 0 / 10%);

  .image {
    max-width: 100%;
    height: auto;
  }

  .game-text {
    color: orange;
    font-weight: bold;
  }

  .title {
    font-size: 1.5rem;
    padding: 4px;
  }

  .text {
    span {
      color: orange;
      font-weight: bold;
    }
  }

  .icon-container {
    margin-right: 2rem;
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  .image-container {
    margin-left: 2rem;
    .image {
      justify-self: start;
      background: #ffab2e;
      padding: 1rem;
      max-height: 7rem !important;
      max-width: 7rem !important;
      border-radius: 0.5rem;
    }
    @media only screen and (max-width: 800px) {
      display: none;
    }
  }

  .button-wrapper {
    width: 100%;
    margin-bottom: 0.5rem;
    @media only screen and (max-width: 800px) {
      display: none;
    }
    .game {
      color: #ffab2e;
      font-size: 1rem;
      font-weight: bold;
      width: 12rem;
      border: 0.1rem solid #ffab2e;
      border-radius: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .button-container {
    display: none;
    width: 100%;
    button {
      border: 1px solid orange;
      border-radius: 0.5rem;
      color: orange;
      background-color: rgba(255, 171, 46, 0.1);
      padding: 3px;
      width: 100%;
    }
    @media only screen and (max-width: 800px) {
      display: block;
    }
  }
  .mobile-status {
    display: none;
    @media only screen and (max-width: 800px) {
      display: inline;
    }
    h2 {
      color: orange;
      font-size: 1.5rem;
    }
  }
}
