<div class="item-container">
  <div class="image-container">
    <img
      class="image"
      src="{{ datas?.game?.logo }}"
      alt="{{ datas?.game?.name }}"
      width="80"
      height="90"
    />
  </div>
  <div>
    <div>
      <button class="game">{{ datas?.game?.name }}</button>
    </div>
    <div>
      <button class="game">{{ datas?.prizeType?.name }}</button>
    </div>
  </div>
  <div>
    <p class="title">{{ datas?.name }}</p>
    <p class="text">Hosted by {{ datas?.organizer?.name }}</p>
  </div>
  <div>
    <p class="text">
      <span class="game-text">START DATE </span> {{ datas?.startDate | date }}
    </p>
    <p class="text">
      <span class="game-text">REG. ENDS</span>
      {{ datas?.startDate | date }}
    </p>
  </div>
  <div>
    <p class="game-text">PRIZE</p>
    <p class="text">{{ datas?.prizeType?.name }}</p>
  </div>
  <div>
    <p class="game-text">REGISTRATIONS</p>
    <p class="text">CLOSED</p>
  </div>
  <div class="icon-container">
    <img
      class="image"
      style="background: none"
      src="assets/tournament/overview-arrow.svg"
      alt="{{ datas?.name }}"
      width="19"
      height="32"
    />
  </div>
</div>
