.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
<<<<<<< HEAD
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
=======

>>>>>>> 2102932ed9b7773422f1e9495015dd550d4879ff
}
