<div class="container">
  <div class="title">
    <h1>Welcome to the test app</h1>
  </div>
  <ng-container *ngIf="isAuthenticated$ | async; else notauth">
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Tournaments</a>
        <ng-template ngbNavContent
          ><app-tournaments></app-tournaments
        ></ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>News</a>
        <ng-template ngbNavContent><app-news></app-news></ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
    <button (click)="logout()">Logout</button>
  </ng-container>
  <ng-template #notauth>
    <app-login></app-login>
  </ng-template>
</div>
