<div class="filters-container">
  <form
    class="form-container"
    [formGroup]="newsFinderForm"
    *ngIf="newsFinderForm"
  >
    <div class="dropdowns">
      <div
        ngbDropdown
        #gamesDrop="ngbDropdown"
        [autoClose]="'outside'"
        class="dropdown-black"
      >
        <button id="games" ngbDropdownToggle>
          <span>Games</span>
          <fa-icon
            class="games-dropdown"
            [icon]="faMinus"
            *ngIf="gamesDrop.isOpen() == true; else opened"
          ></fa-icon>
          <ng-template #opened>
            <fa-icon class="games-dropdown" [icon]="faPlus"></fa-icon>
          </ng-template>
        </button>

        <div ngbDropdownMenu aria-labelledby="games" class="games-dropdown">
          <ng-container
            formArrayName="gamesId.in"
            *ngIf="gamesId_in?.controls.length"
          >
            <ng-container
              *ngFor="
                let game of gamesId_in?.controls | slice: 0:8;
                let i = index
              "
            >
              <label class="checkbox-wraper" [formGroupName]="i">
                <span>{{ game.controls.name.value }}</span>
                <div>
                  <input
                    type="checkbox"
                    formControlName="checked"
                    (change)="submitForm(newsFinderForm)"
                  />
                </div>
              </label>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
