.filters-wrapper {
  grid-area: filters;
}
.navigation-wrapper {
  grid-area: navigation;
}
.tournaments-container {
  grid-area: items;
}

.content-container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;

  @media only screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  display: grid;
  grid-template-areas:
    "filters navigation"
    "filters items";
  grid-gap: 1rem;

  .controls-wrapper {
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 0.3rem;
    background-color: #f6f6f6;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: 10px;
    box-shadow: 19px 17px 14px 0 rgb(0 0 0 / 10%);
  }
}
