<div class="filters-container">
  <div class="title-container">
    <h1>Filters</h1>
  </div>
  <form
    class="form-container"
    [formGroup]="tournamentFinderForm"
    *ngIf="tournamentFinderForm"
  >
    <div class="search-bar">
      <input
        type="text"
        placeholder="Browse by tournament name"
        formControlName="name.contains"
        (keyup)="searchByName$.next($any($event.target).value)"
      />
      <fa-icon class="fas fa-search" [icon]="faSearch"></fa-icon>
    </div>
    <div class="button-wrapper">
      <button class="button-accent" type="button" (click)="resetForm()">
        Clear all
      </button>
    </div>
    <div class="dropdowns">
      <div
        ngbDropdown
        #gamesDrop="ngbDropdown"
        [autoClose]="'outside'"
        class="dropdown-black"
      >
        <button id="games" ngbDropdownToggle>
          <span>Games</span>
          <fa-icon
            class="games-dropdown"
            [icon]="faMinus"
            *ngIf="gamesDrop.isOpen() == true; else opened"
          ></fa-icon>
          <ng-template #opened>
            <fa-icon class="games-dropdown" [icon]="faPlus"></fa-icon>
          </ng-template>
        </button>

        <div ngbDropdownMenu aria-labelledby="games" class="games-dropdown">
          <ng-container
            formArrayName="gameId.in"
            *ngIf="gameId_in?.controls.length"
          >
            <ng-container
              *ngFor="
                let game of gameId_in?.controls | slice: 0:8;
                let i = index
              "
            >
              <label class="checkbox-wraper" [formGroupName]="i">
                <span>{{ game.controls.name.value }}</span>
                <div>
                  <input
                    type="checkbox"
                    formControlName="checked"
                    (change)="submitForm(tournamentFinderForm)"
                  />
                  <span class="checkmark"></span>
                </div>
              </label>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
</div>
