<i class="fas fa-user-plus"></i>
Player posts

<div *ngIf="posts?.length > 0; else noPosts" class="player-posts-container">
  <div *ngFor="let post of posts" class="player-post">
    <div>
      <img
        [src]="post.image || 'assets/profile/profile_default.jpeg'"
        class="img-fluid"
        alt="no-image"
      />
    </div>
    <h2 *ngIf="post.fullName !== 'null null'; else postName">
      {{ post.fullName }}
    </h2>
    <ng-template #postName>
      <h2>{{ post.name }}</h2>
    </ng-template>
    <h2>{{ post.game }}</h2>
    <div>
      <p>{{ post.gameRoles | arrayToString }}</p>
      <p>{{ post.rank }}</p>
    </div>
    <div class="actions-container">
      <button (click)="editHandler(post)">Edit</button>
      <button (click)="deleteHandler(post)">Delete</button>
    </div>
  </div>
</div>

<i class="fas fa-user-plus"></i>
Team posts

<div *ngIf="posts?.length > 0; else noPosts" class="player-posts-container">
  <div *ngFor="let post of posts" class="player-post">
    <div>
      <img
        [src]="post.image || 'assets/profile/default-profile-image.png'"
        class="img-fluid"
        alt="no-image"
      />
    </div>
    <h2>{{ post.name }}</h2>
    <h2>{{ post.game }}</h2>
    <div>
      <p>{{ post.gameRoles | arrayToString }}</p>
      <p>{{ post.rank }}</p>
    </div>
    <div class="actions-container">
      <button (click)="editHandler(post)">Edit</button>
      <button (click)="deleteHandler(post)">Delete</button>
    </div>
  </div>
</div>

<ng-template #noPosts>
  <p class="no-posts-message">You do not have posts</p>
</ng-template>
