<div class="content-container">
  <div class="filter-wrapper">
    <p>filters</p>
  </div>
  <div class="news-container" *ngIf="news$ | async as news">
    <div
      *ngFor="
        let item of news.items
          | paginate
            : {
                id: 'news-pagination',
                itemsPerPage: size,
                currentPage: page,
                totalItems: news.totalAmountOfItems
              }
      "
    >
      <app-news-item
        [data]="item"
        (onClick)="openModal($event)"
      ></app-news-item>
    </div>
  </div>
  <div class="controls-container">
    <pagination-controls
      id="news-pagination"
      previousLabel="Prev"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
    ></pagination-controls>
    <label
      >Items per page:
      <select (change)="handlePageSizeChange($event)" [ngModel]="size">
        <option value="1">1</option>
        <option value="5">5</option>
        <option value="10">10</option>
      </select>
    </label>
  </div>
</div>
