@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.content-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: 1rem;

  .filter-wrapper {
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 19px 17px 14px 0 rgb(0 0 0 / 10%);
    background-color: #f6f6f6;
  }

  .news-container {
    max-width: 100%;
    @media screen and (min-width: 600px) {
      height: 100%;
      display: grid;
      margin-bottom: 1rem;
      border-radius: 1rem;
      padding: 1rem;
      grid-template-columns: 50% 50%;
      gap: 1rem;
    }
    @media screen and (min-width: 1100px) {
      height: 100%;
      display: grid;
      margin-bottom: 1rem;
      border-radius: 1rem;
      padding: 1rem;
      grid-template-columns: 33% 33% 33%;
      gap: 1rem;
    }
  }
  .controls-container {
    display: flex;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #f6f6f6;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 19px 17px 14px 0 rgb(0 0 0 / 10%);
  }
}
